:root,
    /*Dark Purple*/
    :root.option1 { 
        --marine-green: #636b3f;
        --deep-green: #2b361c;
        --barium-yellow: #fefae3;
        --sepia-e37: #d4a369;
        --leather: #b17036;
    }
@media only screen and (min-width: 200px) {
    body {
        background-color: var(--sepia-e37);
    }
    .wrapper {
        display: flex;
        justify-content: center;
        margin-top: 3em;
    }
    .wrapper-content {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .title-wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 1.5em;
    }
    h1 {
        color: var(--deep-green);
    }
    .label-wrapper {
        display: flex;
        flex-direction: row;
    }
    .questionMark-wrapper {
        position: relative;
        width: fit-content;
        height: fit-content;
    }
    #questionMark {
        width: 0.7em;
        height: fit-content;
        padding: 0 0 2px 2px;
    }
    .popup-wrapper {
        position: absolute;
        display: none;
        width: 13.5em;
        height: fit-content;
        background-color: var(--barium-yellow);
        border: 2px solid var(--deep-green);
        border-radius: 4px;
        padding: 8px;
    }
    .questionMark-wrapper:hover .popup-wrapper {
        display: flex;
    }
    .button-wrapper {
        display: flex;
        justify-content: end;
    }
    .link-wrapper {
        display: flex;
        justify-content: space-evenly;
    }
    .inputs {
        margin-bottom: 1em;
        background-color: var(--barium-yellow);
        accent-color: var(--marine-green);
        border: 2px solid var(--marine-green);
        border-radius: 4px;
        height: 2.5em;
        padding-left: 0.5em;
    }
    .buttons {
        background-color: var(--marine-green);
        color: var(--barium-yellow);
        border: none;
        border-radius: 12px;
        width: 5em;
        height: 2.5em;
        cursor: pointer;
    }
    .labels {
        color: var(--deep-green);
    }
    .checkbox-wrapper {
        margin-bottom: 2em;
    }
    .upload-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
    }
    .profile-picture {
        opacity: 0.75;
        height: 150px;
        width: 150px;
        position: relative;
        overflow: hidden;

        /* default image */
        background: url('https://qph.cf2.quoracdn.net/main-qimg-f32f85d21d59a5540948c3bfbce52e68');

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 8px 6px -6px var(--deep-green);
    }
    .file-uploader {
        /* make it invisible */
        opacity: 0;
        /* make it take the full height and width of the parent container */
        height: 100%;
        width: 100%;
        cursor: pointer;
        /* make it absolute */
        position: absolute;
        top: 0%;
        left: 0%;
    }
    .upload-icon {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* initial icon state */
        opacity: 0;
        transition: opacity 0.3s ease;
        color: #ccc;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #bbb;
    }
    /* toggle icon state */
    .profile-picture:hover .upload-icon {
    opacity: 1;
    }

}

/** ####################### *//** ####################### *//** ####################### */
/** ####################### *//** ####################### *//** ####################### */
/** ####################### *//** ####################### *//** ####################### */

@media only screen and (min-width: 720px) {

}

/** ####################### *//** ####################### *//** ####################### */
/** ####################### *//** ####################### *//** ####################### */
/** ####################### *//** ####################### *//** ####################### */

@media only screen and (min-width: 1200px) {

}